/* Mobil  */
header {
  margin: 10px;
  background-color: #187d76;
  border: 3px solid;
  max-width: 500px;
}
body {
  background: linear-gradient(to bottom, #308ae4, #dd5339);

  min-height: 100vh;
}
/* product_list.html  */
.product_list_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
}
/* product.html  */
.category_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
/* product.html  */
.product {
  border: 1px solid #000;
  background-color: #6db1a6;
  width: 60%;
  margin: 0 auto;
  color: white;
}
/* index  */
.product-card {
  background-color: #187d76;
  border: 2px solid #000;
}

img {
  width: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #308ae4;
}
h2 {
  font-size: 36px;
  color: white;
}
h1 {
  font-size: 36px;
  color: white;
}
/* product.html  */
.product-information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  font-size: 20px;
}
/* product.html  */
.Indian-cricket {
  width: 80%;
  display: grid;
  margin: 0 auto;
  font-size: 20px;
}
/* product.html  */
.informationer {
  background-color: gray;
  border: 1px solid;
  font-size: 15px;
  color: white;
}
/* product.html  */
.informationer button {
  font-size: 15px;
  border-radius: 8%;
  justify-content: center;
}
/* product.html  */
.informationer button {
  font-size: 20px;
  width: 100%;
  border-radius: 8%;
  cursor: pointer;
}
/* Desktop  */
/* index.html  */
@media (min-width: 1024px) {
  .product-card {
    border: 2px solid #000;
    padding: 30px;
    margin: 20px;
    grid-row: span 4;
  }
  /* product_list.html  */
  .product_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
  }
  /* product.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    width: 100%;
  }
  /* product.html  */
  .product-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    font-size: 20px;
  }
  /* product.html  */
  .Indian-cricket {
    width: 80%;
    display: grid;
    margin: 0 auto;
    font-size: 20px;
  }
  /* productlist.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    width: 100%;
  }
  /* product.html  */
  .informationer {
    background-color: gray;
    border: 1px solid;
    font-size: 25px;
    color: white;
  }
  /* product.html  */
  .informationer button {
    font-size: 30px;
    width: 100%;
    border-radius: 8%;
    cursor: pointer;
  }
}
