/* Mobil  */
header {
  background: linear-gradient(to top, #308ae4, #dd5339);
  margin: 0 auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 16px;
  top: 0;
  width: 93%;
}
nav {
  color: #dd5339;
  text-transform: uppercase;
  text-shadow:
    2px 2px 0 #308ae4,
    4px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* index  */
.sahara {
  font-size: 2rem;
}
/* index  */
.teamfanshop {
  font-size: 1.5rem;
}
body {
  background-color: #308ae4;
  font-family: "Poppins", sans-serif;
}
/* index  */
.Categories {
  text-align: center;
}
/* product.html  */
.links {
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* product.js  */
.product-pris {
  font-size: 25px;
}
/* product.js  */
.produkt-information {
  font-size: 25px;
}

/* product_list.html  */
.product_list_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin: 0 auto;
}
/* product_list.html  */
.produktcatalog {
  text-align: center;
  font-size: 36px;
}
/* product.html  */
.category_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
/* product.html  */
.product {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
}
/* index  */
.product-card {
  background-color: #13aaa0;
  border-radius: 12px;
}

img {
  width: 95%;
  aspect-ratio: 4 / 5;
  border-radius: 8px;
  object-fit: cover;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #dd5339;
}
h2 {
  font-size: 36px;
  color: white;
}
h1 {
  font-size: 25px;
}
/* productlist.js  */
.productdetail {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
/* productlist.js  */
.tilbud {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
}
/* product.html  */
.product-information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 10px;
}
/* product.html  */
.Indian-cricket {
  width: 80%;
  display: grid;
  margin: 0 auto;
  font-size: 20px;
}
/* product.html  */
.informationer {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
/* productlist.js, product.js  */
button {
  cursor: pointer;
  font-size: 22px;
  border-radius: 12px;
  background-color: #000;
  color: white;
  padding: 12px;
}
button:hover {
  background-color: #f1f1f1;
  color: #000;
}
/* product.html  */
.informationer button {
  font-size: 22px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #000;
  color: white;
}
/* product.html  */
.informationer button:hover {
  color: #000;
  background-color: #f1f1f1;
}
/* product.html  */
.brand {
  font-size: 56px;
  font-weight: bolder;
}
/* product.html  */
.nike {
  font-weight: lighter;
  font-size: 25px;
}
/* product.html  */
.produktinformation {
  font-weight: lighter;
  font-size: 25px;
}
/* product.html  */
.pris {
  font-size: 25px;
  font-weight: bold;
}
/* product.html  */
.color {
  font-size: 25px;
  font-weight: bold;
}

/* Desktop  */
/* index.html  */
@media (min-width: 1024px) {
  .product-card {
    padding: 30px;
    margin: 20px;
    grid-row: span 4;
    text-align: center;
  }
  /* index  */
  .links {
    font-size: 20px;
    gap: 5rem;
  }
  /* index  */
  .sahara {
    font-size: 3.8rem;
  }
  /* index  */
  .teamfanshop {
    font-size: 3rem;
  }
  /* product_list.html  */
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
  }
  /* product.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    width: 100%;
    padding: 0.5rem;
  }
  /* product.html  */
  .product-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    font-size: 20px;
    margin: 10px;
  }
  /* product.html  */
  .Indian-cricket {
    width: 80%;
    display: grid;
    margin: 0 auto;
    font-size: 20px;
  }
  /* product.js  */
  .productinformation {
    font-size: 36px;
  }

  /* productlist.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 8;
    width: 50%;
  }
  /* product.html  */
  .informationer {
    font-size: 25px;
    color: white;
    margin: 0 auto;
  }
}
