/* Mobil  */
header {
  margin: 10px;
  background: linear-gradient(to bottom, #308ae4, #dd5339);
  border: 3px solid;
  max-width: 500px;
}
body {
  background-color: #308ae4;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
/* product_list.html  */
.product_list_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
}
/* product.html  */
.category_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
/* product.html  */
.product {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
}
/* index  */
.product-card {
  background-color: #187d76;
  border: 2px solid #000;
}

img {
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 8px;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #308ae4;
}
h2 {
  font-size: 36px;
  color: white;
}
h1 {
  font-size: 36px;
}
.productdetail {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.Lagerstatus {
  font-weight: bold;
}
.discount_label {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
}
/* product.html  */
.product-information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  font-size: 20px;
}
/* product.html  */
.Indian-cricket {
  width: 80%;
  display: grid;
  margin: 0 auto;
  font-size: 20px;
}
/* product.html  */
.informationer {
  font-size: 15px;
  color: white;
}

/* product.html  */
.informationer button {
  font-size: 22px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #308ae4, #dd5339);
  color: white;
}
/* product.html  */
button:hover {
  color: #dd5339;
}
/* product.html  */
.brand {
  font-size: 56px;
  font-weight: bolder;
}
/* product.html  */
.nike {
  font-weight: lighter;
  font-size: medium;
}
/* product.html  */
.inventory {
  font-weight: lighter;
  font-size: medium;
}
/* product.html  */
.pris {
  font-size: larger;
  font-weight: bold;
}
/* product.html  */
.color {
  font-size: larger;
  font-weight: bold;
}
/* Desktop  */
/* index.html  */
@media (min-width: 1024px) {
  .product-card {
    border: 2px solid #000;
    padding: 30px;
    margin: 20px;
    grid-row: span 4;
  }
  /* product_list.html  */
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    padding: 0;
    margin: 0;
  }
  /* product.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    width: 100%;
    line-height: 1;
  }
  /* product.html  */
  .product-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    font-size: 20px;
    margin: 5px;
  }
  /* product.html  */
  .Indian-cricket {
    width: 80%;
    display: grid;
    margin: 0 auto;
    font-size: 20px;
  }
  .productinformation {
    font-size: 36px;
  }
  .modelname {
    font-size: 40px;
    color: white;
  }
  /* productlist.html  */
  .product {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 11;
    width: 50%;
  }
  /* product.html  */
  .informationer {
    font-size: 25px;
    color: white;
    margin: 0 auto;
  }
}
